<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>AngularJS Expense Tracker App</title>
    <link rel="stylesheet" href="app.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
     
    <!-- <script type="text/javascript" src="angular.min.js"></script> -->
</head>

<body>
<div ng-app="myList" ng-controller="myCtrl" ng-init="load()" id="mylist" class="col-md-6 table-responsive">
    <h3>AngularJS Expenses Tracker</h3>

    <table class="table table-striped table-hover ">
	  <tr ng-repeat="x in list">
	  	<td>{{$index+1}}</td>
	    <td>{{ x.desc }}</td>
	    <td>{{ x.amount }}</td>
	    <td>{{ x.date }}</td>
	    <td><button class="btn btn-danger pull-right" ng-click="removeItem($index)">Delete</button></td>
	  </tr>
	</table>

 <br>

<!--     <ul class="list-group"">
    <li class="list-group-item" ng-repeat="x in list"><strong>{{x}}</strong><span class="ex pull-right" ng-click="removeItem($index)"><strong>&times;</strong></span></li>
    </ul> -->
    <label for="addMeDesc">Expense Description</label>
    <textarea class="form-control" rows="5" class="form-control"  ng-model="addMeDesc"></textarea>
    <label for="addMeDesc">Expense Amount</label>
    <input type="text" name="addMeAmount" class="form-control" ng-model="addMeAmount" >  
    <label for="addMeDesc">Expense Date</label>
    <input type="text" name="addMeDate" class="form-control date"  ng-model="addMeDate" >  
    <button class="btn btn-success" ng-click="addItem()">Add</button>

    <p>{{errortext}}</p>

</div>

<script type="text/javascript">
	$('.date').datepicker();
    var app= angular.module("myList",["ngStorage"]);

    app.controller("myCtrl", function($scope,$localStorage, $sessionStorage, $window){


 		$scope.load = function () {
 			 
        	  $scope.list = [];        	 
        	
        }

        $scope.expense=function  (desc,amount,date) {
			this.desc = desc;
			this.amount = amount;
			this.date = date;
		}

        $scope.addItem = function () {

        	 $scope.errortext = "";

        	if (!$scope.addMeDesc) {return;}

	       
	        	$scope.list[$scope.list.length] = new $scope.expense($scope.addMeDesc,$scope.addMeAmount,$scope.addMeDate);

/*	            localStorage.setItem("desc", JSON.stringify($scope.list));
	            $scope.storedarray= (localStorage.getItem('desc')!==null) ? JSON.parse(localStorage.getItem('desc')) : [];

	            localStorage.setItem("amount", JSON.stringify($scope.list));
	            $scope.storedarray= (localStorage.getItem('amount')!==null) ? JSON.parse(localStorage.getItem('amount')) : [];*/

        }

        
        $scope.removeItem = function(x){
            $scope.list.splice(x,1);
            localStorage.setItem("desc", JSON.stringify($scope.list));
            $scope.storedarray= (localStorage.getItem('desc')!==null) ? JSON.parse(localStorage.getItem('desc')) : [];
        }

    });
</script>
</body>
</html>
